@import "app/styles/colors";
@import "app/styles/mixins";
@import "app/styles/variables";

.main {
padding: $spacing-40 $spacing-0;
  width: 100%;
}

.partners {
  margin: auto;
  width: 100%;
}

.rights {
  margin: auto;
  cursor: pointer;
}

.handshakeIcon {
  height: 100px;
  width: 100px;
  color: white;
}